<form method="get" action="{% url 'blog:search' %}">
    <div class="input-group search-group">
        <input type="text" name="query" class="form-control" placeholder="搜索一下?">
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"> </span> </button>
      </span>
    </div><!-- /input-group -->
</form>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">文章分类</h3>
    </div>
    {% if categories %}
        <ul class="list-group">
            {% if null_count > 0 %}
                <a class="list-group-item" href="{% url 'blog:category' 0 %}">
                    <span class="badge">{{ null_count }}</span>
                    未分类
                </a>
            {% endif %}
            {% for category in categories %}
                <a class="list-group-item" href="{% url 'blog:category' category.pk %}">
                    <span class="badge">{{ category.p_count }}</span>
                    {{ category }}
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <div class="panel-body">没有分类！</div>
    {% endif %}
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标签列表</h3>
    </div>
    <div class="panel-body">
        {% if tags %}
            {% for tag in tags %}
                <a href="{% url 'blog:tag' tag.pk %}" class="btn btn-default btn-sm tag" role="button">{{ tag }}</a>
            {% endfor %}
        {% else %}
            没有标签！
        {% endif %}
    </div>
</div>
{% if DUOSHUO_NEW_COMMENTS %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">最新评论</h3>
    </div>
    <div class="panel-body">
        <!-- 多说最新评论 start -->
        <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1"
             data-show-admin="1" data-excerpt-length="70"></div>
        <!-- 多说最新评论 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name: "wodebugchenblog"};
            (function () {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';
                ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>
</div>
{% endif %}